
*{
  box-sizing: border-box;
}
.wrapper{
  height: 800px;
  width: 800px;
  background-color: rgba(82, 235, 235, 0.699);
  position: relative;
}
.box-a{
  height: 10px;
  width: 200px;
  position: absolute;
}
.box-b{
  height: 200px;
  width: 10px;
  position: absolute;
}
.box1{
  background-color: rgb(208, 243, 7);
  right: 395px;
  top: 73px;
  z-index: 4;
}
.box2{
  background-color: rgb(71, 23, 204);
  right: 395px;
  top: 214px;
  z-index: 2;
}
.box3{
  background-color: rgb(24, 230, 86);
  right: 420px;
  top: 50px;
  z-index: 3;
}
.box4, .box5{
  background-color: rgb(230, 24, 24);
  right: 559px;
  top: 50px;
  z-index: 1;
}
.box5{
  z-index: 4;
  height: 100px;
}