
*{
  box-sizing: border-box;
}
.wrapper{
  height: 800px;
  width: 800px;
  background-color: #868b8bb2;
  position: relative;
  margin:0 auto;
}
.box{
  height: 40px;
  position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.box:hover{
  background-color: rgb(158, 4, 247);
  transition-duration: 3s;
}
.box1{
  background-color: rgb(243, 23, 7);
  top: 200px;
  z-index: 6;
  width: 50px;
}
.box2{
  background-color: rgb(204, 111, 23);
  top: 220px;
  z-index: 5;
  width: 100px;
}
.box3{
  background-color: rgb(192, 230, 24);
  top: 240px;
  z-index: 4;
  width: 150px;
}
.box4{
  background-color: rgb(44, 206, 12);
  top: 260px;
  z-index: 3;
  width: 200px;
}
.box5{
  background-color: rgb(24, 172, 230);
  top: 280px;
  z-index: 2;
  width: 250px;
}
.box6{
  background-color: rgb(86, 24, 230);
  top: 300px;
  z-index: 1;
  width: 300px;
}